<html>
<head>
<meta charset="utf-8">
<title>ClipStore</title>
<link rel="stylesheet" href="./statics/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./statics/css/my.css">
<script src="./statics/js/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.js"  charset="UTF-8"></script>
</head>
<body>
<!-- 
<form action="upload.php" method="post" enctype="multipart/form-data">
    <label for="file">文件名：</label>
    <input type="file" name="file" id="file"><br>
    <input type="submit" name="submit" value="提交">
</form> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="./">ClipStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills navbar-nav mr-auto" id="pills-tab" role="tablist">
            <li class="nav-item text-center" style="margin-left:5px;width: 95px;">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item text-center" style="margin-left:5px;width: 95px;">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Content</a>
            </li>
            <li class="nav-item text-center" style="margin-left:5px;width: 95px;">
                <a class="nav-link" id="pills-upload-tab" data-toggle="pill" href="#pills-upload" role="tab" aria-controls="pills-upload" aria-selected="false">Upload</a>
            </li>
            
        </ul>
    </div>
</nav>
<!-- vertical nav bars -->
<div id="vertical_nav_bar" class='vertical_nav_bar h-100' style="display: none">
    <div class="nav flex-column nav-pills vertical_nav_bar_first_ele_to_top " id="v-pills-tab" role="tablist" aria-orientation="vertical">
    </div>
</div>
<div id="vertical_null_bar" class='vertical_null_bar h-100' style="display: none" onclick="navNullSwitch()">
    <a><img id="nav_null_icon" style="position: absolute;margin-top:25%" src="./statics/icon/left.svg"></a>
</div>
<!-- web pages -->  
<div id="web_page" class="web_page h-100" style="width: 100%;margin-top: auto">
    <!-- show space -->
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active h-100" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <!-- search  -->
            <form class="form-inline mx-auto w-75" style="height:20%" onsubmit="return false;">
                <input class="form-control mr-sm-0 w-75 mx-auto" type="search" placeholder="查询方法：+xss +绕过 -java" aria-label="Search" id="search_form" autofocus>
                <button class="btn btn-secondary btn-outline-success my-2 my-sm-0 mx-auto" style="width: 12%" type="button" id="search_button" onclick="search()">
                    <span class="glyphicon glyphicon-search"></span>查询
                </button>
            </form>
            <table class="table table-hover w-75 mx-auto">
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade h-100" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">
            <!-- upload -->

            <div class="container">
               
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form method="post" action="./upload.php" id="upload" enctype="multipart/form-data">         
                            <div class="form-group files">
                                <div style="margin-top:5%"></div>
                                <label>Upload Your File </label>
                                <input type="file" class="form-control-file" id="customFile" name="file_upload">
                            </div>    
                            <div style="width:100%" class="text-right">
                                <button type="button" class="btn btn-primary" style="width:15%;" onclick="upload()">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8 mx-auto">
                            <label style="margin-top:1%">Or —— you may upload by inputing url！</label>
                        <div class="input-group mb-3 mx-auto" style="margin-top:3%">
                            
                            <input type="text" class="form-control" placeholder="Your URL here!(Currently Not In Used!)" aria-label="" aria-describedby="button-addon2" disabled>
                            <div class="input-group-append">
                                <button class="btn  btn-primary" type="button" id="button-addon2">用URL上传</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="tab-pane fade h-100" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <!-- content -->
            <div id="xuwu" class="h-100 w-100 text-center my-auto"><h1 style="text-shadow: -1px -1px 1px #aaa,0px 4px 1px rgba(0,0,0,0.5),4px 4px 5px rgba(0,0,0,0.7),0px 0px 7px rgba(0,0,0,0.4); margin-top: 25%">你进入了一片虚无</h1></div>
        </div>
    </div>
</div>

<!-- <script src="./statics/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="./statics/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="./statics/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="./statics/js/my.js"></script>
</body>
</html>