.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }

  /* .navbar-fixed-top ~ .content {
    padding-top: 48px;  
 } */

.vertical_nav_bar{
    /* margin-top:70px; */
    padding-left: 3px;
    padding-right: 3px;
    width: 12%;
    float: left;
    overflow-y :auto;
}

.vertical_nav_bar_first_ele_to_top{
    margin-top:70px;
}

.nav_content{
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}

.vertical_null_bar{
    /* margin-top:70px; */
    opacity: 0.6;
    width: 1%;
    float: left;
    background-color: #e9f1f6;
}

.vertical_null_bar:hover{
    background-color:#d6ecf0;
    /* pointer-events: visible; */
    cursor: pointer;
    /* opacity: 0.8; */
}

.web_page{
    padding-top:48px;
    float: right;
}

